[Unit]
Description=Micro Dot PHat
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/microdotphat/app.py
User=pi
Restart=on-failure

[Install]
WantedBy=default.target

