[Unit]
Description=Micro Dot PHat
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/Pimoroni/microdotphat/graph.py
User=pi
Restart=always

[Install]
WantedBy=default.target

